{% extends 'telehakim/main_base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block aside %}
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard:admin-dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear-fill"></i><span>Manage Account</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'dashboard:admin-dashboard' %}?pages=register_patient">
              <i class="bi bi-circle"></i><span>Register Patient</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:admin-dashboard' %}?pages=register_doctor">
              <i class="bi bi-circle"></i><span>Register Doctor</span>
            </a>
          </li>
            <li>
            <a href="{% url 'dashboard:admin-dashboard' %}?pages=register_admin">
              <i class="bi bi-circle"></i><span>Register Admin</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard:admin-dashboard' %}?pages=patients">
          <i class="bi bi-people-fill"></i><span>Patients</span>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard:admin-dashboard' %}?pages=admins">
          <i class="bi bi-people-fill"></i><span>Admins</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>Doctors</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'dashboard:admin-dashboard' %}?pages=doctors_unverified">
              <i class="bi bi-circle"></i><span>Unverified</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:admin-dashboard' %}?pages=doctors_waiting">
              <i class="bi bi-circle"></i><span>Waiting Book</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard:admin-dashboard' %}?pages=view_feedback">
          <i class="bi bi-chat-left-fill"></i>
          <span>View Feedback</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->
{% endblock %}

{% block middle_breadcrumb %}
    admin
{% endblock %}

{% block active_breadcrumb %}
    {% if page == None %}
        dashboard
    {% elif page == "update_user" %}
        update account
    {% elif page == 'profile' %}
        profile
    {% elif page == 'doctors_waiting'%}
        doctors_waiting
    {% elif page == 'doctors_unverified'%}
        unverified_list_of_doctors
    {% elif page == 'patients' %}
        list_of_patients
    {% elif page == 'admins' %}
        list_of_admins
    {% elif page == 'view_feedback' %}
        view_feedback
    {% elif page == 'register_patient' %}
        register_patient
    {% elif page == 'register_admin' %}
        register_admin
    {% elif page|slice:":4" == 'chat' %}
        chatting
    {% elif page == 'register_doctor' %}
        register_doctor
    {% endif %}
{% endblock %}

{% block middle %}
    {% load static %}
    {% if page == 'doctors_waiting'%}
    {% elif page == 'doctors_unverified'%}
        <div class="our-custom-model card m-auto d-none">
            <div class="modal-header">
                <h5 class="modal-title font-monospace ">Are you sure you want to delete the selected user?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" id="iamsure" class="btn btn-danger">Yes, I’m sure</a>
                <a href="#" onclick="rm()" id="notsure" class="btn btn-secondary">No, take me back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pl-3">List of doctors.</h5>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">specialization</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doctor in doctors %}
                                {% if not doctor.is_verified%}
                                   <tr>
                                    <th scope="row">{{ doctor.id }}</th>
                                    <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
                                    <td>{{ doctor.email }}</td>
                                    <td>{{ doctor.specialization }}</td>
                                    <td>{{ doctor.phone }}</td>
                                    <td>{{ doctor.address }}</td>
                                    <td>
                                        <a href="{% url 'dashboard:admin-dashboard' %}?pages=update_user&id={{ user.id }}"
                                           class="btn btn-sm btn-info">Update</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" onclick="dume(this)"
                                                value="{{ doctor.id }}">Delete
                                        </button>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    function rm() {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        ds.classList.add('d-none')
                    }

                    function dume(btn) {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        let a_sure = document.getElementById('iamsure')

                        a_sure.setAttribute('href', '/delete/' + btn.value + '/' + 0 +'/')

                        ds.classList.toggle('d-none')
                    }
                </script>
            </div>
        </div>
    {% elif page|slice:":4" == 'chat' %}
        {% if page == 'chatting' %}
            {% include 'chat/room.html' %}
        {% else %}
            {% include 'chat/index.html' %}
        {% endif %}
    {% elif page == 'patients' %}
        <!-- Start Data table -->
      <div class="our-custom-model card m-auto d-none">
            <div class="modal-header">
                <h5 class="modal-title font-monospace ">Are you sure you want to delete the selected user?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" id="iamsure3" class="btn btn-danger">Yes, I’m sure</a>
                <a href="#" onclick="rm()" id="notsure3" class="btn btn-secondary">No, take me back</a>
            </div>
        </div>
      <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pl-3">List of patients.</h5>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">date_of_birth</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient in patients %}

                                <tr>
                                    <th scope="row">{{ patient.id }}</th>
                                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                                    <td>{{ patient.email }}</td>
                                    <td>{{ patient.date_of_birth }}</td>
                                    <td>{{ patient.phone }}</td>
                                    <td>{{ patient.address }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" onclick="dume(this)"
                                                value="{{ patient.id }}">Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    function rm() {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        ds.classList.add('d-none')
                    }

                    function dume(btn) {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        let a_sure = document.getElementById('iamsure3')

                        a_sure.setAttribute('href', '/dashboard/delete/' + btn.value + '/patient/?pages=patients')

                        ds.classList.toggle('d-none')
                    }
                </script>
            </div>
        </div>
      <!-- End Data table -->
    {% elif page == 'admins' %}
        <!-- Start Data table -->
      <div class="our-custom-model card m-auto d-none">
            <div class="modal-header">
                <h5 class="modal-title font-monospace ">Are you sure you want to delete the selected user?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" id="iamsure2" class="btn btn-danger">Yes, I’m sure</a>
                <a href="#" onclick="rm()" id="notsure2" class="btn btn-secondary">No, take me back</a>
            </div>
        </div>
      <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pl-3">List of admins.</h5>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">date_of_birth</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for admin in admins %}

                                <tr>
                                    <th scope="row">{{ admin.id }}</th>
                                    <td>{{ admin.first_name }} {{ admin.last_name }}</td>
                                    <td>{{ admin.email }}</td>
                                    <td>{{ admin.date_of_birth }}</td>
                                    <td>{{ admin.phone }}</td>
                                    <td>{{ admin.address }}</td>

                                    <td>
                                        <button class="btn btn-sm btn-danger" onclick="dume(this)"
                                                value="{{ admin.id }}">Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    function rm() {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        ds.classList.add('d-none')
                    }

                    function dume(btn) {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        let a_sure = document.getElementById('iamsure2')
                        a_sure.setAttribute('href', '/dashboard/delete/' + btn.value + '/admin/?pages=admins')
                        ds.classList.toggle('d-none')
                    }
                </script>
            </div>
        </div>
      <!-- End Data table -->
    {% elif page == 'view_feedback' %}
        <!-- start of view feedback -->
      <div class="row">
        <div class="col-lg-9">
          <h5 class="card-title">Feedback</h5>
          {% for feedback in feedbacks %}
          <div class="card">
            <div class="card-body pt-4">
              {{ feedback.body }}
            </div>
            <div class="card-footer">
              <span style="float: right;margin-right: 20px;">By {{ feedback.name }} on {{ feedback.date }}</span>
            </div>
          </div>
          {% endfor %}
        </div></div>
      <!-- end view feedback -->
    {% elif page == 'register_patient' %}
        {% include 'telehakim/partials/patient_form.html' %}
    {% elif page == 'register_admin' %}
        {% include 'telehakim/partials/patient_form.html' %}
    {% elif page == 'register_doctor' %}
        {% include 'telehakim/partials/doctor_form.html' %}
    {% elif page == 'profile' %}
        {% include 'telehakim/partials/profile.html' %}
    {% else %}
      <!-- Start Data table -->
       <div class="our-custom-model card m-auto d-none">
            <div class="modal-header">
                <h5 class="modal-title font-monospace ">Are you sure you want to delete the selected user?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" id="iamsure4" class="btn btn-danger">Yes, I’m sure</a>
                <a href="#" onclick="rm()" id="notsure4" class="btn btn-secondary">No, take me back</a>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pl-3">List of doctors.</h5>
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">specialization</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doctor in doctors %}
                                {% if doctor.is_verified %}
                                   <tr>
                                    <th scope="row">{{ doctor.id }}</th>
                                    <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
                                    <td>{{ doctor.email }}</td>
                                    <td>{{ doctor.specialization }}</td>
                                    <td>{{ doctor.phone }}</td>
                                    <td>{{ doctor.address }}</td>
                                    <td>
                                        <a href="{% url 'dashboard:deactivate' doctor.id %}"
                                           class="btn btn-sm btn-info">Deactivate</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" onclick="dume(this)"
                                                value="{{ doctor.id }}">Delete
                                        </button>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    function rm() {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        ds.classList.add('d-none')
                    }

                    function dume(btn) {
                        let ds = document.getElementsByClassName('our-custom-model')[0]
                        let a_sure = document.getElementById('iamsure4')

                        a_sure.setAttribute('href', '/dashboard/delete/' + btn.value + '/doctor')

                        ds.classList.toggle('d-none')
                    }
                </script>
            </div>
        </div>
      <!-- End Data table -->
    {% endif %}
{% endblock %}
